/* register-page */

.title {
  background: rgb(181, 185, 191) !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border: 2px solid rgb(151, 138, 111);
  box-shadow: 3px 3px 3px #f00202;
}

.title-detai > h3 {
  padding-left: 75px;
  font-size: 30px;
  font-weight: 500;
  color: rgb(255, 0, 0) !important;
}

.title-N3 > h1 {
  color: red !important;
}

.register-text {
  background: rgb(167, 169, 173) !important;
  border-radius: 10px;
  border: 2px solid rgb(151, 138, 111);
  box-shadow: 3px 3px 5px #ca0f0f;
}

.login-text {
  background: rgb(167, 169, 173) !important;
  border-radius: 10px;
  border: 2px solid rgb(151, 138, 111);
  box-shadow: 3px 3px 5px #ca0f0f;
}

.btn-login {
  text-align: center;
  border-radius: 6px;
}

.btn-login > h3 {
  font-size: 2.3em;
  font-weight: 500;
}

.btn-register {
  text-align: center;
  border-radius: 6px;
}

.btn-register > h3 {
  font-size: 2.3em;
  font-weight: 500;
}

.icon-tk > span {
  background-color: rgb(111, 178, 233) !important;
}

.icon-mk > span {
  background-color: rgb(111, 178, 233) !important;
}

.icon-lmk > span {
  background-color: rgb(111, 178, 233) !important;
}

.login-button > button:hover {
  background: rgb(225, 76, 71);
}

.register-a > a:hover {
  background: rgb(225, 76, 71);
}

.login-a > a:hover {
  background: rgb(225, 76, 71);
}

.register-button > button:hover {
  background: rgb(225, 76, 71);
}
